@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
* {
    font-family: 'Syne Mono', monospace;
    padding: 0px;
    margin: 0px;
}
.grid_wrapper{
    width: auto;
    min-height: 100vh;
    max-height: 200vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-areas:
    "he he as"
    "se se na"
    "ma ma ma"
    "fo fo fo";
}
header{
    grid-area: he;
    background-color: hotpink;
    justify-content: center;
    display: flex;
}
#restaurangnamn{
    font-size: 60px;
    height: 80%;
    margin: auto;
    letter-spacing: 15px;
}
aside{
    grid-area: as;
    background-color: khaki;
    text-align: center;
}
aside img{
    height: 90px;
    margin: 5px;
}
/* aside p{
    font-size: 23px;
} */
section{
    grid-area: se;
    background-color: lawngreen;
}
main{
    grid-area: ma;
    background-color: tomato;
}
nav{
    grid-area: na;
    background-color: yellow;
}
nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
li {
    padding: 10px;
    font-size: 25px;
}

}
footer{
    grid-area: fo;
    background-color: steelblue;
}