@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
    font-family: 'Syne Mono', monospace;
    padding: 0px;
    margin: 0px;
    color: white;
    text-shadow: 1px 1px 8px black;
}
html{
    background-image: url("/img/bild-unsplash-mat\(bakgrund\).jpg");
    background-position: center;
    background-size: cover;
}
.grid_wrapper{
    width: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-areas:
    "he he as"
    "se se na"
    "ma ma ma"
    "fo fo fo";
    backdrop-filter: blur(15px) saturate(150%) grayscale(70%);
}
header{
    grid-area: he;
    position: sticky;
    top: 0;
    justify-content: center;
    display: flex;
    background: rgba(128, 128, 0, 0.25);
}
#restaurangnamn{
    font-size: 60px;
    height: 80%;
    margin: auto;
    letter-spacing: 15px;
}
aside{
    grid-area: as;
    position: sticky;
    top: 0;
    text-align: center;
    background: rgba(128, 128, 0, 0.25);
}
aside img{
    height: 90px;
    margin: 5px;
    filter: hue-rotate(55deg);
}
section{
    grid-area: se;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main{
    grid-area: ma;
    
}
main h3{
    font-size: 35px;
}
.main_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.main_flex img{
    height: fit-content;
}
.radbrytning{
    height: 20px;
    flex-basis: 100%;
}
.menulist{
    margin-left: 80px;
}
.menulist img{
    height: 300px;
    width: auto;
}
.about{
    width: 50vw;
}
.about_main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#map{
    height: 85%;
}
nav{
    grid-area: na;
    position: sticky;
    top: 20px;
}
nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    list-style-type: none;
}
li{
    padding: 10px;
    font-size: 25px;
    font-size: 35px;
}
footer{
    grid-area: fo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}